<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
    {{ partial "nav.html" . }}
    <div class="container">
        <main id="main">
            <h2 class="about-title"> About me </h2>
            <p class="about-par"> I have no CompSci background, but I am <strong>rather</strong> passionate about computers. </p>
            <p>
            With no formal education and very little practical knowledge in the field (even though I ended up working for an IT company albeit for a less technical role that I had hoped for) I won't be hired for my passion.
            </p>
            <p>
            Therefore, I have carved up a place for this hobby and so, in my spare time, I read a lot of resources, follow tutorials and try (and fail) the <a href="https://adventofcode.com">advent of code</a> challenges.
            </p>
            <p> Right now I have my eyes on the following topics: <p>
                <ul>
                    <li> System's Design </li>
                    <li> Software Optimization </li>
                    <li> Networking </li>
                </ul>
            </p>
            <h3 class="about-title"> Programming Languages </h3>
            <p class="about-par">
            The first language I ever came in contact with is <a href="python.org"> Python</a>, and I have been in love ever since. Now I feel pretty confident with it (I am by no means a master) but I recognize the need to broaden my horizons.
            In the near future, I would like to try my hand at C or Java or
            <a href="http://learnyouahaskell.com/"> Haskell</a>.
            </p>
            <p> Other languages that I use more often are </p>
                <ul>
                    <li> Bash (and th Linux environment in general) </li>
                    <li> Postgres </li>
                    <li> Javascript </li>
                </ul>
            <h3 class="about-title"> Why this blog? </h3>
            <p class="about-par">
            I actually stated this blog as an exercise; I do a lot of wierd stuff in my spare time (programming wise) that ranges from little snippets of code just to prove a point with friends to more organic and coherent projects.
            </p>
            <p>
            Furthermore, I have always been at a loss of word (for lack of a better term) and I believe that my communications skills are below average...
            </p>
            <p>
            So this little corner of the internet achieves two things:
            </p>
            <ol>
                <li> allows me to share with the world the things that I am passionate about </li>
                <li> helps me building confidence in writing (I am <strong>always</strong> open for <a href="mailto:guido.minieri@gmail.com">feedback</a>, as gnarly as it could be) </li>
            </ol>
            <h4> Thank you for reading! </h4>
        </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>
