<footer>
    <hr class="footer"/>
    <p>
    <div id="footer-fist-line">
        <a class="footer" href="https://github.com/gmnr"><i class="footer-icon" data-feather="github"></i><span class="footer-text">gmnr</span></a>
        &bull;
        <a class="footer" href="mailto:guido.minieri@gmail.com"><i class="footer-icon" data-feather="mail"></i><span class="footer-text">guido.minieri@gmail.com</span></a>
        &bull;
        <a class="footer" href="https://www.linkedin.com/in/guido-minieri/"><i class="footer-icon" data-feather="linkedin"></i><span class="footer-text">Guido Minieri</span></a>
    </div>
    <div id="footer-second-line">
        <i class="footer-icon" data-feather="map-pin"></i><span class="footer-text">Coding (and writing) from </span><span> Telese Terme, Italy</span>
    </div>
    <br>
    <i class="footer-icon" data-feather="code"></i><a class="footer" href="https://github.com/gmnr/gmnr.github.io"><span class="footer-text">View the </span>source code</a>
    </p>
</footer>
