<footer>
    <hr class="footer"/>
    <p>
    <a class="footer" href="https://www.linkedin.com/in/guido-minieri/"><i class="footer-icon" data-feather="linkedin"></i><span class="footer-text">Guido Minieri</span></a>
    ~
    <a class="footer" href="mailto:guido.minieri@gmail.com"><i class="footer-icon" data-feather="mail"></i><span class="footer-text">guido.minieri@gmail.com</span></a>
    ~
    <a class="footer" href="https://github.com/gmnr"><i class="footer-icon" data-feather="github"></i><span class="footer-text">/gmnr</span></a>
    <br>
    A place to share my thoughts
    <br>
    <a href="https://github.com/gmnr/gmnr.github.io">View the source code</a>
    </p>
</footer>
