<style>
html {
  --sans-font: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", sans-serif;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  line-height:1.6;
  font-size:1rem;
  font-family: var(--sans-font);
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.004em;
  line-height: 1.25;
  font-weight: 600;
}

hr {
  background: #000;
  height: 1px;
  border: 0;
}

hr.nav-border {
  margin-top: 0;
}

hr.footer {
  display: block;
  width: 60%;
  height: 1px;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

p, ul {
  margin: 1rem 0;
  margin-top: 0px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: underline;
  texst-decoration-skip-ink: auto;
}

a:visited {
  color: #333;
}

a.footer {
  margin: 7px;
}

nav {
  padding: 0.7rem 0rem;
  margin: 0;
}

blockquote {
  position: relative;
  font-style: italic;
  color: grey;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
}

figcaption {
  color: grey;
  font-size: 90%;
  text-align: center;
}

footer {
  width: 100%
  color: grey;
  font-size: 85%;
  text-align: center;
}

code {
  font-family: Monaco;
  font-size: 90%;
}

#main {
  padding-bottom: 2.5 rem;
}

#footer-second-line {
  display: inline;
}

#signature {
  display: inline;
  font-weight: 600;
  float: right;
}

.container {
  position: relative;
  height: 100vh;
  max-width: 720px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto
}


.date {
  color: grey;
  font-size: 90%;
  float: right;
}

.post-date {
  color: grey;
}

.index-title {
  font-weight: bold;
  text-decoration: none;
}

.index-description {
  display: inline;
  font-style: italic;
  font-size: 95%;
}

.index-reading {
  display: inline;
  font-size: 85%;
}

.menu-item {
  display: inline;
  padding: 10px 0px;
  margin-right: 0.9rem;
}

.footer-text {
  margin-left: 5px;
}

.footer-icon {
  width: 1.3em;
  vertical-align: middle;
  color: grey;
}

.post-title {
  display: inline;
  font-size: 25px;
  letter-spacing: 0.004em;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  font-weight: 600;
}

.post-date {
  display: inline;
  font-size: 110%;
}

.index-post {
  margin: 0.7rem auto;
}

@media screen and (max-width: 720px) {
  .container {
    margin: 1.5%;
  }

  footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  .footer-text, .index-description, .index-reading {
    display: none;
  }
}
</style>
